body {
    transition: 1s;
    font-family:'Courier New', Courier, monospace;
}

header {
    display:flex;
    justify-content:flex-end;
}

#main-section {
    padding: 100px 0;
    height:20vh;
    text-align: center;
}

#ports {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

#maher {
    text-align: center;
    
}

h1 {
    font-weight:900;
    font-size: 30px;
}

a {
    text-decoration: none;
    text-emphasis: none;
    color:white;
}

button {
    border-radius: 10px;
    width:60%;
    height: 15%;
    margin: 5px 0;
    text-align:center;
    background-color:coral;
    color: white;
    font-weight: bold;
    transition: 1s;
    
}

button:hover {
    background-color:brown;
    transition: .3s;
}

.dark-mode button {
    background-color:blueviolet;
}

.dark-mode button:hover {
    background-color:rgb(232, 12, 192);
    transition: .3s;
}

footer {
    text-align: center;
}

.terminals {
    height: 300px;
    background-color:rgb(145, 146, 146);
    width: 95%;
    margin: 1%;
    box-shadow: 4px 4px 10px black;
    border-radius: 10px;
    text-align: center;
    margin: 20px 0;
}

.switch {
    width: 60px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(1, 1, 1);
    position: fixed;
}

.toggle {
    position:absolute;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    top: 2px;
    left:2px;
    background-color:white;
    box-shadow: inset 4px 4px 10px black;
    transition: 1s;
}

.sun {
    position:absolute;
    width: 25px;
    height: 25px;
    left:2px;
    top:2px;
    border-radius: 15px;
    z-index: -1;
    transition: 1s;
    opacity: 0
}

.dark-mode .sun {
    opacity: 1;
}

.moon {
    position:absolute;
    width: 23px;
    height: 23px;
    left:32px;
    top:3px;
    border-radius: 15px;
    z-index: -1;
    transition: 1s;
}

.traffic-info  {
    height: 70px;
    width: 95px;
    background-color:lightcoral;
}

.dark-mode .moon {
    opacity: 0;
}

.dark-mode {
    background-color: rgb(66, 66, 66);
    color: white;
}

.dark-mode .toggle {
    transform: translateX(30px);
    box-shadow: inset -4px -4px 10px black;
}

.dark-mode .terminals {
    background-color:rgb(84, 84, 84);
}

#twitter {
    overflow-y: auto;
}

@media only screen and (min-width: 970px) {
    .terminals {
        height: 600px;
        width: 48%;
        margin: 1%;
    }

    h1 {
        font-size: 40px;
    }
}